@import url("https://fonts.googleapis.com/css?family=Jua:400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
}

html,
body {
  background: #333;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  color: #fff;
}

#__next {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 350px;
}
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
